body {
    background: rgb(189, 13, 51);
}

.container {
    max-width: 400px;
}

input[type=text],
input[type=text]:focus {
    color: rgb(253, 253, 253);
    border: none;
    background: rgba(0, 0, 0, 0.3);
    max-width: 400px;
}

.todos li {
    background: rgba(136, 4, 22, 0.863);
}

.delete, 
.edit {
    cursor: pointer;
}

.filtered {
    display: none !important;
}

